.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;

  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
  justify-content: center;
  break-inside: avoid;
  break-before: avoid;
  break-after: avoid;
}
